/*
 * File: simulator.css
 * Author: Zhang Linghao <zlhdnc1994@gmail.com>
 */

html, body {
    font-family: consolas !important;
    background: lightseagreen;
	width: 1200px;
	margin: 0 auto;
}

.drop_area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
}

.header {
    height: 30px;
    line-height: 30px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.blocks {
    background-color: transparent;
	height: 550px;
	width: 100%;
	border-top: 0;
}

.block {
	height: 550px;
	width: 120px;
	float: left;
    display: inline-block;
}

.footer {
    height: 30px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

#status {
    color: blue;
}

.status_loaded {
    text-decoration: underline;
    cursor: pointer;
}

#mem_monitor {
    overflow-y: scroll;
    width: 250px;
}

#mem_list {
    position: relative;
}

.mem_block {
    width: 120px;
    float: left;
}

.block_title {
    height: 32px;
    width: 100%;
    line-height: 32px;
    text-align: center;
    font-weight: bold;
	font-size: 20px;
	color: red;
	margin-bottom: 5px;
}

.entry_block {
    height: 40px;
	width: 100%;
    text-align: center;
    font-weight: bold;
	display: block;
	border: 0 2px dashed;
	border-color: red;
	margin-top: 2px;
}

.entry_title {
    height: 16px;
	width: 100%;
	line-height: 16px;
	font-size: 16px;
	color: black;
}

.entry_content {
	width: 100%;
	height: 16px;
	line-height: 16px;
	font-size: 16px;
	color: blue;
	font-family: "Courier New", monospace;
}

.Maddr {
    background-color: lightgray;
    margin-right: 10px;
}

#mem_list > div > span {
    padding: 5px 2px;
}

.stack_ptr {
    position: absolute;
    top: 0;
    transition: top .3s ease;
    white-space: nowrap;
}

#ebp_ptr {
    left: 130px;
    color: red;
}

#esp_ptr {
    left: 180px;
    color: navy;
}

#none_ptr {
    opacity: 0;
}

#code_box {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .3s ease;
    z-index: 1;
}

#code_box_title {
    height: 30px;
    text-align: center;
}

#code_box_title button {
    float: right;
}

#code_box_content {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 80%;
    transition: all .3s ease;
    background-color: #ffffff;
}

#code_box_content ol {
    height: calc(100% - 30px);
    width: 50%;
    overflow: scroll;
}

#code_box_content ol:first-of-type {
    float: left;
}

#code_box_content ol:nth-of-type(2) {
    float: right;
}

#code_box_content li {
    font-size: 10px;
    margin: 0;
}

#code_box.show {
    opacity: 1;
    pointer-events: all;
}

#code_box.show #code_box_content {
    top: 10%;
}

#perf_box {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .3s ease;
    z-index: 1;
}

#perf_box_content {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 90%;
    transition: all .3s ease;
    background-color: #ffffff;
    overflow: scroll;
    text-align: center;
}

#perf_box_title {
    height: 30px;
    text-align: center;
}

#perf_box_title button {
    float:right;
}

#perf_table #perf_canvas {
    left: 5%;
}

#perf_box.show {
    opacity: 1;
    pointer-events: all;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #aabcfe;
    margin: auto;
}

.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#669;background-color:#e8edff;}

.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#039;background-color:#ffffff;}

.tg .tg-vyw9{font-family:"Courier New", Courier, monospace !important;}

.tg .tg-vc88{font-weight:bold;font-family:"Courier New", Courier, monospace !important;}